*{ box-sizing: border-box;
  border-radius: 10px;
  font:'Marvel', sans-serif;
}
.hide{
  display: none;
}
body{
  display: flex;
    min-height: 100vh;
    flex-direction: column;
   background-color: #E2001A ;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
#header{
  border: black 5px solid;
  height: fit-content;
  width: 100vw;
}
h4{
  text-align: center;
}
#center-btn{
display: flex;
flex-direction: column;
flex-grow: 1;
border: #E2001A 10px solid;
height: 80%;
width: 100%;
}
.nav-wrapper{
 background-color: #E2001A;
  color: white;
}
.img-container{
  flex-grow: 1;
  display: inline-flex;
  height: 100%;
  width: 100%;
}
#img-1{
  background-image: url(./images/avengers_comic.jpg);
}
#img-2{
  background-image: url(./images/marvel\ villans.jpg);
}
#img-3{
  background-image: url(./images/marvel\ guardians.jpg);
}
#img-4{
  background-image: url(./images/marvel\ x-men.jpg);
}
.img-container:hover{
  border: black solid 10px;
}
#charcter-card-container{
  flex-grow: 1;
  width:fit-content;
  height: fit-content;
  background-color: black;
}