/* check the marvel colours and match them to the title and font etc do this under a * (all inclusive) for font colour, background colour etc
*/
  .parallax-container {
      height: "500px";
    }

.body{
    background-image: url("./marvel-characters.jpg");
    background-repeat: no-repeat, repeat;
    background-color: red;
}